body {
	margin: 5%;
	background-color: white;
}

div {
	margin-inside: 2%;
}

div.jumbotron {
	background-color: white;
	padding:5%;
}

nav.navbar-default {
	background-color: black;
}
a.thumbnail {
	border-color: white;
	background-color: white;
}

a.href {
	border-color: white;
	background-color: white;
}

div.navbar-default{
	background-color: black;
}

header {
	background-color: black;
}


ul.coding {
	float: right;
}

img.class {
	float: left;
}
